.button-add-book>img{
    width: 100px;
    height: 100px;
}
body{
    background-color: grey;
}
.button-add-book{
    width:fit-content;
    position:sticky;
    left: calc(95% - 100px);
    top: calc(90vh - 100px);
    border-radius: 10px;
    border: 1px solid black;
}
.list-books-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.book{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    min-height: 150px;
    padding: 8px;
}
.book-title{
    width: 100%;
    word-wrap: break-word;
}
.book-description{
    width: 100%;
    word-wrap:break-word;
}
.book-read-status{
    display: flex;
    gap: 10px;
    align-items: center;
}
.unread::after,
.read::after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.unread::after{
    background-color: red;
}
.read::after{
    background-color: green;
}

.form-add-book-popup > form{
    max-width: 300px;
    height: 300px;
    background-color: white;
    padding:15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#new-book-description{
    height: 100px;
    resize: none;
}
.form-add-book-popup > form > * {
    width: 100%;
}